@import '../../../styles/variables';

.RepairCard {
  display: block;
}

.repairCard {
  background-color: $primaryColor;
  border: 2px solid $secondaryColor;
  height: 30rem;
}

.repairName {
  color: $secondaryColor;
  font-weight: 400;
  margin-top: 20%;
}

.singleRepairView {
  color: $primaryColor;
  border: 1px solid $primaryColor;
  border-radius: 5px;
  padding: 5px 10px;
}

.singleRepairView:hover {
  background-color: $primaryColor;
  color: $secondaryColor;
}

.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  background-color: $secondaryColor;
}

.comment-container {
  height: 60%;
}

h5 {
  color: $primaryColor;
}

.repairComments {
  background-color: $primaryColor;
  border: 1px solid $primaryColor;
  border-radius: 5px;
  color: $secondaryColor;
  height: 15rem;
}

.repairMileage {
  background-color: $primaryColor;
  border: 1px solid $primaryColor;
  border-radius: 5px;
  color: $secondaryColor;
}

.checkbox-container label {
  color: $primaryColor;
  margin: 10px;
  font-weight: 600;
}

.deleteRepairBtn {
  position: absolute;
  right: 0;
  bottom: 2px;
  color: $primaryColor;

}

.deleteRepairBtn:hover {
  text-decoration: none;
  color: $primaryColor;
}

.editRepairBtn {
  position: absolute;
  right: 40px;
  bottom: 2px;
  color: $primaryColor;
}

.editRepairBtn:hover {
  text-decoration: none;
  color: $primaryColor;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
  transform: rotateY(0deg);
}