@import '../../../styles/variables';

.MotorcycleCard {
  display: block;
}

.bikeCard {
  background-color: $primaryColor;
  border: 2px solid $secondaryColor;
}

.card-img-top {
  width: 100%;
  height: 25vw;
}

.bikeName {
  color: $secondaryColor;
}

.bikeMileage {
  color: $secondaryColor;
}

.singleView {
  color: $secondaryColor;
  border: 1px solid $secondaryColor;
  border-radius: 5px;
  padding: 5px 10px;
}

.singleView:hover {
  background-color: $secondaryColor;
  color: $primaryColor;
}

.deleteBtn {
  position: absolute;
  right: 0;
  bottom: 7px;
  color: $secondaryColor;
  padding: 5px 10px;
}

.deleteBtn:hover {
  text-decoration: none;
  color: $secondaryColor;
}

.editBtn {
  position: absolute;
  right: 40px;
  bottom: 7px;
  color: $secondaryColor;
  padding: 5px 10px;
}

.editBtn:hover {
  text-decoration: none;
  color: $secondaryColor;
}

@media screen and (max-width: 850px) {
  .editBtn {
    font-size: .70rem;
    right: 30px;
    bottom: 10px;
  }

  .deleteBtn {
    font-size: .70rem;
    bottom: 10px;
  }
}