@import '../../../styles/variables';

.EditRepair {
  display: block;
}

.editRepairFormName {
  color: $secondaryColor;
  font-weight: 400;
}

.form-group label {
  color: $secondaryColor;
}

.form-check-label {
  color: $secondaryColor;
}

.updateRepairBtn {
  color: $secondaryColor;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
}

.updateRepairBtn:hover {
  text-decoration: none;
  background-color: $secondaryColor;
  color: $primaryColor;
}

.backBtn {
  position: absolute;
  top: 2%;
  right: 27%;
  color: $secondaryColor;
}

.backBtn:hover {
  color: $secondaryColor;
}

