@import '../../../styles/variables';

.Repairs {
  display: block;
}

.repairs {
  color: $secondaryColor;
  font-weight: 400;
}

.plusSign {
  color: $secondaryColor;
  margin-right: 20px;
}

.repairsBackBtn {
  color: $secondaryColor;
  margin-right: 20px;
  margin-left: 20px;
}

.repairsBackBtn:hover {
  color: $secondaryColor;
}